[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
flask = "*"
flask-cors = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
httpie = "*"

[dev-packages]

[requires]
python_version = "3.7"
